extends layout


block content
    div(class = 'title')
      <h1>Tweet Analysis</h1>
      <br>
    div(class = 'searchContainer')
      form(action = '/' method = "post")
        div(class = 'bar')
          input(type="text" name="search" placeholder="Search for a hashtag!")
          <br></br>
        div(id = 'submit')
          <input type='submit', value='Submit' id='btn'>
        <br></br>
    div(class = 'tweetsContainer')
      div(class = 'tweetd')
      div(class = 'graphs')
      
