extends layout


block content
    div(id = title)
      <h1>Tweeeeeeeeeeeeeeeeeeeets</h1>
    div(id = bar)
      input(type="text" name="search" placeholder="Search for a hashtag!")
    div(id = submit)
      input(type="submit" name="submit")
